@font-face {
  font-family: "font";
  src: url("../font/Mahboubeh_mehravar.ttf");
}* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "font";
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: 0.2s linear;
}html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* navbar */
.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}.navbar-brand img {
  width: 30px;
}.navbar-brand span {
  letter-spacing: 2px;
}.nav-link:hover {
  color: orange;
}.login{
  padding: 10px 10px;
  background-color: #000;
  border-radius: 7px;
}.login a{
  text-decoration: none;
  color: #eee;
}
/* end navbar */
/* free */
.box-free{
  width: 100%;
  background-color: #ffffff
}.swiper {
  width: 240px;
  height: 320px;
}.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}.swiper-slide:nth-child(1n) {
  background: url('../img/img-free1.png');
  background-size: cover;
}.swiper-slide:nth-child(2n) {
  background: url('../img/img-free2.png');
  background-size: cover;
}.swiper-slide:nth-child(3n) {
  background: url('../img/img-free3.png');
  background-size: cover;
}.caption-free{
  margin-top: 55px;
}.caption-free h1{
  letter-spacing: 1px;
}.caption-free p{
  text-align: justify;
  line-height: 25px;
}
/* end free */